<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el common module.
  </p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="Ventas netas"
            subheader="Del presente año">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.3-3'}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Ventas brutas"
            subheader="Del presente año">
            {{ ventasNetas | currency:'Lps.'}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Ganancia porcentual"
            subheader="Del presente año">
            {{ porcentaje | percent:'2.2-2'}}
    </p-card>
  </div>
</div>
