
<div class="text-layout">
  <h1> {{ nombre | titlecase }} </h1>
</div>
<button pButton
        (click)="mostrarNombre()"
        label="Cambiar nombre"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"
        >
</button>


<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro autem nostrum inventore facere totam aperiam omnis dicta a sit neque, alias culpa! Eligendi dolores dicta ad ea? Quod, dolores ratione!
</p-card>
